<h2>Led commands</h2>
<div class='container'>
	<select id="commands">
		<option value="rainbow_form">Rainbow</option>
		<option value="bounce_form">Bounce</option>
		<option value="snake_form">Snake</option>
	</select>
	<%= link_to 'Back', nodes_path %>
	<div name="rainbow_form" id="rainbow_form" class="form-toggle" style="display:none">
		<form role="form" >
			<button type="button" class="btn cancel-button">Cancel</button>
			<%= button_to "Rainbow", action: "rainbow" %>
		</form>
	</div>
	<div name="bounce_form" id="bounce_form" class="form-toggle" style="display:none">
		<form role="form">
			<button type="button" class="btn cancel-button">Cancel</button> 
			<%= button_to "Bounce", action: "bounce" %>
		</form>
	</div>
	<div name="snake_form" id="snake_form" class="form-toggle" style="display:none">
		<form role="form">
			<div>
			  <span><label for="length">Length</label></span>
			  <span><input type="number" id="length" /></span>
			</div>
			<div>
			  <span><label for="snake_color" >Color</label></span>
			  <span><input type="color" id="snake_color" />
			</div>
			<div>
			  <button type="button" class="btn cancel-button" >Cancel</button>
			  <button type="submit" class="btn btn-primary">Start</button>
			</div>
		</form>
	</div>
</div>
<script>
	$(function(){
	    $('#commands').change(function() {
	        $('.form-toggle').hide();
	        $('#' + $(this).val()).show();
	    });
    });

    $(document).ready(function(){
    	$('#commands').trigger('change');
    });
</script>